.App {
  background-image: url("./tron-grid.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  text-align: center;
  position: fixed;
  top: 20%;
  width: 100%;
  color: white;
}

.App-title {
  font-size: 1.5em;
  font-family: monospace;
  color: #5fdafb;
}

.App-intro {
  font-size: large;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */