.tickerWrapper {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: white;
}

ul.ticker {
  position: relative;
  white-space: nowrap;
  font-size: 20px;
}

ul.ticker li {
  display: inline-block;
  *display: inline;
  white-space: normal;
  vertical-align: middle;
  padding: 20px;
}

.up {
  color: green;
}

.down {
  color: red;
}

.unchanged {
 color: orange;
}